@keyframes fadeInAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes floatInAnimation {
    from {
        opacity: 0;
        position: relative;
        top: 2vw;
    }
    to {
        opacity: 1;
        position: relative;
        top: 0vw;
    }
}

[data_anim="fade in"]{
    animation-name: fadeInAnimation;
    animation-timing-function: ease-out;
    animation-duration: 2s;
    animation-fill-mode: both;
}

[data_anim="float in"]{
    animation-name: floatInAnimation;
    animation-timing-function: ease-out;
    animation-duration: 1.5s;
    animation-fill-mode: both;
}