body{
    background-color:rgb(34, 36, 50);
}

h1{
    font-weight: 300;
    font-size: 2em;
    font-family: 'Roboto', sans-serif;
    margin-left: 1%;
    margin-bottom: -0.5vw;
    color: aliceblue;
    text-shadow: #0000005a 2px 2px 5px;
}

h1.super_title{
    font-size: calc(2em + 4vw);
}

p{
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    color: aliceblue;
    margin-left: 1.5vw;
}

.warn{
    margin-left: 2vw;
    font-weight: 100;
    color: rgb(111, 114, 141);
    user-select: none;
}