/* General tags */
body{
    background-color:rgb(34, 36, 50);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header{
    width: 100vw;
    height: 100vh;
}

h1{
    font-weight: 300;
    font-size: 2em;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color: aliceblue;
    text-shadow: #0000005a 2px 2px 5px;
}

p{
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    color: aliceblue;
}

/* Specialized tags */
header > div{
    padding: 3vw;
}

header > img{
    filter: blur(23px) brightness(40%) saturate(60%);
    user-select: none;
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

h1.super_title{
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
    font-size: calc(2em + 4vw);
}

/* Temporary setups */
.warn{
    font-weight: 100;
    color: rgb(111, 114, 141);
    padding: 4vw;
    user-select: none;
}